html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    height: 300%; /* 3 sections, 100% each */
    width: 100vw;
}

#page1, #page2, #page3 {
    padding: 3rem;
    height: 100vh; /* Full viewport height for each section */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

#page1 h1 {
    font-size: 40vw;
    white-space: nowrap;
}

#page2 {
    background-color: aliceblue;
    color: black;
}

#page3 {
    background-color: antiquewhite;
    color: black;
}
